html,
body {
    height: 100%;
    width: 100%;
}
body {
   
    
}
footer {
    background-color: pink;
}

/* Header */
header {
    
}
#header_video { 
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* Nav */
.navbar {

    position: absolute;
    top: 0;
    width: 55%;
    max-width: 550px;
    border-radius: 0 0 10px;
    background-color: rgba(50, 71, 89, 1);
    backdrop-filter: blur(0px);
    z-index: 1;
    color: white;
    > div a {
            color: white;
    }
}

.navbar-collapse {
   
    border-radius: 0 0 10px;
    backdrop-filter: blur(10px);
}
.navbar-brand {
    color: white;
    background-color:rgba(50, 71, 89, 0);
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
}


/* Index containers */
#container-1 {

    position: relative;
}

#row-2_container-1 {
    background-color: rgb(224, 48, 48);
    height: 300px
}

/* Index Rows */
#row-1 {

}
#row-3 {
    margin: 0 auto;
}
/* Index Columns */
#row-3_column-2 {
   
}

/* Hero CTA */
#header_hero-container {
    position: relative;
    
}

.hero_cta-background {
    display: none;
    position: absolute;
    z-index: 0;
    top: 14%;
    left: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    height: 90%;
    width: 30%;
    max-width: 300px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
/* https://stackoverflow.com/questions/4296012/hide-div-if-screen-is-smaller-than-a-certain-width
*/
@media screen and (max-width: 600px) {
    .hero_cta-background {
        display: none !important;
    }
}

.service_card-icon {
    display: flex;
    justify-content: center;

}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.service_card-style-blue {
    background-color: rgba(50, 71, 89, 1);
    padding: 10px;
    margin: 5% 0 5%;
    min-width: 200px;
    max-width: 325px;
    height: 350px;
    width: 100%;
    text-align: center;
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        > p {
            color: rgba(255, 255, 255, 0.7);
        }
        > h2 {
            color: rgba(255, 255, 255, 0.80);
        }
}

.service_card-style-green {
    background-color: #8C8684;
    padding: 10px;
    margin: 5% 0 5%;
    height: 400px;
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    max-height: 450px;
    text-align: center;
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        > p {
            color: rgba(255, 255, 255, 0.7);
        }
        > h2 {
            color: rgba(255, 255, 255, 0.80);
        }
}


